/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


.container{
    margin-top:10%;
}

.fa{
    font-size: 50%;
}

.row{
    margin-bottom: 15px;
}

.jumbotron{
    background-color: rgb(240, 87, 31);
    border-style: solid;
    border-width: thin;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url(https://i.pinimg.com/736x/ad/86/e2/ad86e24238b3c8e16d3c774ec7880efe.jpg);
}

.cards{
    display: flex;
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.392);
}

.card-title{
    text-align: center;
    background-color: rgb(240, 87, 31);
    padding: 15px;
    border-radius: 3em;
}

.img{
    border-radius: 4em; 
}

.display-4{
    text-align: center;
    font-family: OCR A Std, monospace;
    color: rgb(108, 47, 169);
    font-weight: bold;
}

.lead{
    text-align: center;
    font-weight: bold;
    color: white;
}

.navbar-brand{
    font-family: OCR A Std, monospace;
    font-weight: bold;
}

.op1{
    margin-right: 10px;
}

.op2{
    margin-left: 10px;
}

.container-fluid{
    background-color: rgb(240, 87, 31);
    padding: 15px;
}

.nav-link:hover{
    background-color: rgba(134, 82, 245, 0.504);
}

.nav-link{
    color: white;
}

.confirm-delete{
    text-align: center;
}

