<div class="jumbotron">
    <h1 class="display-4">Welcome, Earthling!</h1>
    <p class="lead">Here, you can manage your Dragon Ball Funko Pops to maintain the order of their universe. Simply click the Pops button up top to see your inventory.</p>
    <hr class="my-4">
  </div>

<div>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="https://media.gamestop.com/i/gamestop/11156306/Funko-POP-Jumbo-Dragon-Ball-Goku-and-Flying-Nimbus-Vinyl-Figure-GameStop-Exclusive?$pdp2x$" alt="Goku funko pop">
                <div class="card-body">
                    <h5 class="card-title">Remember- You are the hope of the universe!</h5>
                </div>
            </div>
        </div>
        <div></div>

    </div>
</div>